<section>
<h2 class="mb-4">Welcome back to Tech Blog please login to access your personal blogs </h2>
<form class="login-form">
    <div class="row">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" name="email" placeholder="email" required />

        <label for="password-login">Password:</label>
        <input type="password" id="password-login" name="password" placeholder="password" required />
   
    <button type="submit" class="btn btn-primary mt-3">Login</button>
 </div>
 </form>
</section>

<script src="/js/login.js"></script>